{
	"mask": 
	{
		"info":
		{
			"version": "1.0.0",
			"template": "MaskScript",
			"description": "Masking using two wavelength bands"
		},
		"options":
		[
			{
				"displayName": "Wavelength",
				"name": "wavelength1",
				"hint": "Select wavelength",
				"type": "wavelength",
				"value": "0"
			},{
				"displayName": "Threshold",
				"name": "wl1_thresh",
				"hint": "Cutoff threshold for binary image",
				"type": "slider",
				"value": "0.5",
				"minimum": "0",
				"maximum": "1",
				"steps": 250
			},
			{
				"displayName": "Logical Operation",
				"name": "logic_input",
				"type": "dropdown",
				"displayNames": ["AND", "OR", "XOR"],
				"names": ["logic_and", "logic_or", "logic_xor"],
				"value": "0"
			},
			{
				"displayName": "Wavelength",
				"name": "wavelength2",
				"hint": "Select wavelength",
				"type": "wavelength",
				"value": "0"
			},{
				"displayName": "Threshold",
				"name": "wl2_thresh",
				"hint": "Cutoff threshold for binary image",
				"type": "slider",
				"value": "0.5",
				"minimum": "0",
				"maximum": "1",
				"steps": 250
			},
			{
				"displayName": "Fill Speckles",
				"name": "fill_size",
				"hint": "Size of Speckles to be filled (in pixel)",
				"type": "slider",
				"value": "100",
				"minimum": "0",
				"maximum": "300",
				"steps": 300
			},
			{
				"displayName": "Dilate Pixel",
				"name": "dilate_pixel",
				"hint": "Dilate Pixel of mask",
				"type": "checkBox",
				"value": "true"
			}
		]
	}
}
