{
	"mask": 
	{
		"info":
		{
			"version": "1.0.0",
			"template": "MaskScript",
			"description": "Masking using single index"
		},
		"options":
		[
			{
				"displayName": "Select Index",
				"name": "mask_index",
				"hint": "Select Index",
				"type": "dropdown",
				"getValuesFor": "index_list"
			},
			{
				"displayName": "Threshold",
				"name": "index_thresh",
				"hint": "Cutoff threshold for binary image",
				"type": "slider",
				"getRangesFor": "mask_index"
			},
			{
				"displayName": "Fill Speckles",
				"name": "fill_size",
				"hint": "Size of Speckles to be filled (in pixel)",
				"type": "slider",
				"value": "100",
				"minimum": "0",
				"maximum": "300",
				"steps": 300
			},
			{
				"displayName": "Dilate Pixel",
				"name": "dilate_pixel",
				"hint": "Dilate Pixel of mask",
				"type": "checkBox",
				"value": "true"
			}
		]
	}
}
