{
	"mask": 
	{
		"info":
		{
			"version": "1.0.0",
			"template": "MaskScript",
			"description": "Masking using two indices"
		},
		"options":
		{
		    "sections":
			[
				{
				   "displayName": "Mask",
				   "name": "mask",
				   "settings": 
				   [
						{
							"displayName": "Select Index",
							"name": "mask_index1",
							"hint": "Select Index",
							"type": "dropdown",
							"getValuesFor": "index_list",
							"value": "ari"
						},
						{
							"displayName": "Index Threshold",
							"name": "index1_thresh",
							"hint": "Cutoff threshold for binary image",
							"type": "slider",
							"getRangesFor": "mask_index1"
						},
						{
							"displayName": "Logical Operation",
							"name": "logic_input",
							"type": "dropdown",
							"displayNames": ["AND", "OR", "XOR"],
							"names": ["logic_and", "logic_or", "logic_xor"],
							"value": "0"
						},
						{
							"displayName": "Select Index",
							"name": "mask_index2",
							"hint": "Select Index",
							"type": "dropdown",
							"getValuesFor": "index_list",
							"value": "ari"
						},
						{
							"displayName": "Index Threshold",
							"name": "index2_thresh",
							"hint": "Cutoff threshold for binary image",
							"type": "slider",
							"getRangesFor": "mask_index2"
						},
						{
							"displayName": "Fill Speckles",
							"name": "fill_size",
							"hint": "Size of Speckles to be filled (in pixel)",
							"type": "slider",
							"value": "100",
							"minimum": "0",
							"maximum": "300",
							"steps": 300
						},
						{
							"displayName": "Dilate Pixel",
							"name": "dilate_pixel",
							"hint": "Dilate Pixel of mask",
							"type": "checkBox",
							"value": "true"
						},
						{
							"displayName": "Invert Mask",
							"name": "invert_mask",
							"hint": "Inverts the mask",
							"type": "checkBox",
							"value": "false"
						},
					   	{
							"displayName": "Show Image Overlay",
							"name": "overlay_mask",
							"hint": "Lay mask over RGB image",
							"type": "checkBox",
							"value": "false"
						}
					]
				}
			]
		}
	}
}
