{
	"mask": 
	{
		"info":
		{
			"version": "1.0.0",
			"template": "MaskScript",
			"description": "Masking for Arabidopsis"
		},
		"options":
		{
			"sections":
			[
				{
				   "displayName": "Mask",
				   "name": "mask",
				   "settings": 
				   [
						{
							"displayName": "ARI (inverted) Threshold",
							"name": "ari_thresh",
							"hint": "Cutoff threshold for binary image",
							"type": "slider",
							"value": "-1",
							"minimum": "-10",
							"maximum": "+10",
							"steps": 200
						},
						{
							"displayName": "Far Red Threshold",
							"name": "fr_thresh",
							"hint": "Cutoff threshold for binary image",
							"type": "slider",
							"value": "0.08",
							"minimum": "0",
							"maximum": "1",
							"steps": 100
						},
						{
							"displayName": "Green Threshold",
							"name": "green_thresh",
							"hint": "Cutoff threshold for binary image",
							"type": "slider",
							"value": "0.04",
							"minimum": "0",
							"maximum": "1",
							"steps": 100
						},
						{
							"displayName": "Blue Threshold",
							"name": "blue_thresh",
							"hint": "Cutoff threshold for binary image",
							"type": "slider",
							"value": "0.1",
							"minimum": "0",
							"maximum": "1",
							"steps": 100
						},
						{
							"displayName": "Fill Speckles",
							"name": "fill_size",
							"hint": "Size of Speckles to be filled (in pixel)",
							"type": "slider",
							"value": "7",
							"minimum": "0",
							"maximum": "200",
							"steps": 200
						},
						{
							"displayName": "Dilate Pixel",
							"name": "dilate_pixel",
							"hint": "Dilate Pixel of mask",
							"type": "checkBox",
							"value": "true"
						},
						{
							"displayName": "Select which mask to display",
							"name": "show_mask",
							"hint": "Select Mask",
							"type": "dropdown",
							"getValuesFor": "mask_list"
						}
					]
				}
			]
		}
	}
}
